@font-face{
  font-family: 'roboto';
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{
  font-family: 'roboto';
  font-weight: 700;
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'roboto';
  font-weight: 400;
}
/* header */
.header{
  width: 1140px;
  min-height: 200px;
  margin: 0 auto;
  padding: 0 15px;
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo{
  margin: 50px 0;
  display: flex;
}
.list{
  display: flex;
}
.list a{
  padding: 10px 4px 16px;
  margin: 0 19px;
  display: flex;
  font-size: 18px;
  line-height: 14px;
  color: #bab9b9;
  border-bottom: 1px solid transparent;
}
.list a:hover{
  border-bottom-color: #4581b7;
  color: #4581b7;
}
.banner{
  width: 100%;
  min-height: 450px;
  object-fit: cover;
  margin-top: 50px;
}
/* section */
.section{
  width: 1140px;
  min-height: 200px;
  margin: 0 auto;
  padding: 31px 15px;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
}
.main,
.sidebar{
  background: #232323;
  padding: 40px;
  min-height: 400px;
}
.main{
  width: 730px;
}
.sidebar{
  width: 350px;
}
.section h2{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #4581b7;
}
.section p,
.section a{
  font-size: 16px;
  line-height: 27px;
  color: #7f7f7f7f;
}
.section a{
  margin-top: 45px;
  display: flex;
}
/* footer */
.footer{
  width: 1110px;
  margin: 0 auto;
  background: #232323;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__phone{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footer__phone span{
  font-size: 16px;
  color: #808080;
}
.footer__phone a{
  font-size: 25px;
  font-weight: 700;
  color: #808080;
}